*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body  {
  background-image: url(./assets/bg.jpg) ;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header{
  padding-top:32px ;
  height: calc(120px + 32px);
}

header img{
  width: 100%;
  border-radius: 50%;
}

header div{
  width: 120px;
  margin: auto;  
  background-image: linear-gradient(90deg, #9572fc,#43E7AD 50.52%, #E2D45C 100%);

  border-radius: 50%;
  padding: 4px;
  display: flex;

  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1)
}

main{
  Max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;

}

section {
  color: white;
  background-image: linear-gradient(90deg, #9572fc,#43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;

}


section h2{
  font-weight: 900;
  letter-spacing: -0.47px;
}

section p {
letter-spacing: -0.18px;
color: #a1a1aa;
}

section ul{
  display: flex;
 /* Permite que o conteúdo li seja direcionado para baixo de outro elemento ao completar a lista */
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 24px;
}

section ul li {
  /* Serve para dar transição ao passar o mouse sobre os conteúdo Li*/
  transition: transform .3s;
}

/* Criar um espaço para obter-se o resultado */
section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {  
  width: 70px;
  border-radius: 50%;
  border: 1px solid #443e54;
}

/*animation*/

header div{
  /* Nome, tempo da animação, delay*/
  animation: fromtop .6s 0.2s backwards;
}

main section {
  animation: frombotton .6s backwards
}

/*Para realizar a animação do section um por um abaixo*/
main section:nth-child(1){
  animation-delay: 0;
}

main section:nth-child(2){
  animation-delay: .4s;
}

main section:nth-child(3){
  animation-delay: .8s;
}

@keyframes fromtop {
  from {
    opacity: 0;
    transform: translateY(-30);

  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes frombotton{
  from {
    opacity: 0;
    transform: translateY(30);

  }

  to {
    opacity: 1;
    transform: translateY(0)
  }

}